
.app-container {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  min-height: 450px;

}

.app-container a:link {
	color: #0aa;
	font-weight: 600;
}
.app-container a:visited {}
.app-container a:active {}
.app-container a:hover {}

/* PROJECTS LIST */
.app-projects-wrapper {
	margin: 0 auto;
	width: 100%;
}

.project-name {
	color:#002;
}


.app-projects-footer {
	padding-top:15px;
}

.app-projects-list-wrapper {}

ul.app-projects-list > li {
	cursor: pointer;
	margin: 0 0;
	padding: 8px 0px 8px 8px;
	
}

ul.app-projects-list li h1,
ul.app-projects-list li h2,
ul.app-projects-list li h3,
ul.app-projects-list li h4 {}

ul.app-projects-list li div {
	color:#666;
}

.app-projects-list-item:hover {
	background-color:rgba(0,0,0,0.01);
}

h1.project-title {
	font-weight:900;
	font-size:4.5em;
	color:#666;
}
.app-optionsbar {
	top: 87px;
	padding: 0px 10px 0px 10px;
	position: absolute;
	width: 100%;
	border-bottom:1px solid #f5f5f5;
}
.app-optionsbar a {
	margin: 0px 5px 0px 5px;
}

.tasks a {
	cursor: pointer;
}

