

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* THEMING 
    
  Important colors from bootstrap-theme placed here for

*/
/*    Keep the scrollbar visible on all pages to prevent navbar margin shifts.        */
html {overflow-y: scroll;}

.above-fold {
  width: 100%;
  color: #000;
  background-color: #fff;
  text-shadow: 1px 1px 4px rgba(255,255,255,0.33);
}
.navbar-default .container {

}
.seperator,
.seperator:hover,
.seperater:active {
  width:1px;
  border-right:1px solid rgba(0,0,0,0.10) !important;
  padding-right: 5px !important;
  cursor:default !important;
  
}













